.row-margin {
  margin-top: 10px;
  padding-left: 20px;
  color: #BFABCB;
  margin-bottom: 20px;
}

.h1 {
  font-size: 15px;
  color: white;
  text-align: left;
}
.h2 {
  font-size: 20px;
  color: #BFABCB;
  text-align: center;
}


.container {
  margin: 0 auto;
  width: 970px;
}
