.row-margin {
  height: 100px;
  text-align: center;
  margin-top: 50px;
  padding-top: 40px;
  color:white;
}

.h1 {
  font-size: 15px;
  color: white;
  text-align: left;
}
.h2 {
  font-size: 20px;
  color: #BFABCB;
  text-align: center;
}

.white-text {
    color:white;
    font-size: 15px;

.pink-message {
  font-size: 35px;
  color: #F7567C;
  margin-top: 30px;
  margin-left: 40px;
}
