<div class="container">
  <div class="row">
    <% @cloths.each do |cloth| %>
      <div class="col-md-4">
        <div class="card" style="background-image: url(<%= cloth.main_picture %>);">
          <p><%= cloth.title %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
